<html>
    <head>
        <title>Blog</title>
    </head>
    <body>
        <h1>Cool blog</h1>
        <div>
            <h3><%=post.title%></h3>
            <p><%=post.content%></p>
        </div>
        <a href="/">Back</a>
    </body>
</html>