<html>
    <head>
        <title>hello</title>
    </head>
    <body>
        <h1>welcome!</h1>
        <button id = 'submit'>+</button>
        <form action="/newpost" id = 'blog' method="post" hidden>
            <input type="text" name = 'title'placeholder='Write your title'>
            <textarea name="content" placeholder="Start typing" id=""></textarea>
            <button type = 'submit'>Ok</button>
        </form>
        <%for(let post of posts){%>
            <div class = 'post' data-id='<%=post.id%>'>
            <%=post.title%>
            <%=post.content%>
        </div>
        <%}%>
        <script>
            let button = document.getElementById('submit')
            button.addEventListener('click',()=>{
            let blog = document.getElementById('blog')
            blog.hidden = !blog.hidden
            console.log(blog.hidden)
            })
            let posts = document.getElementsByClassName('post')
            for(let post of posts){
                post.addEventListener('click',()=>{
                    let blog_id = post.dataset.id
                    window.location.href = '/post/'+blog_id
                })
            }
        </script>
    </body>
</html>